
.dropdown-menu{
    width: 50rem  !important;
    height: 20rem !important;
}


.spell-details-form{
    overflow-y: auto;
}



.spell-attribute{
    font-weight: bold;
}


.spell-content{
    font-weight: 100;
}

.spell-desc{
    word-wrap: break-word;
    white-space: pre-wrap;
}

