
.dropdown-menu {
    width: 71vw !important;
    height: 40vw !important;
}


.row {
    --bs-gutter-x: 0rem;
}

.spell-details-form{
    overflow-y: auto;
}



.spell-attribute{
    font-weight: bold;
}


.spell-content{
    font-weight: 100;
}

.spell-desc{
    word-wrap: break-word;
    white-space: pre-wrap;
}

